html {color:#000; background:#FFF;margin:0; padding:0; }
body { color: black; margin:0; padding:0;}
#inner { background: white; border: none; margin:0; padding:0; }
#bd { width: 100%; } 
a#pdf { display: none;}
